h1 {
   background-color: lightseagreen;
   color: whitesmoke;
   padding: .5rem 1em; 
   text-align: center;
}

section ol{
    background-color: yellowgreen;
    color: #2f4f4f;
    list-style: none;
    padding: .5% 2.5%;
    display: grid; 
    grid-column: 1fr;
}

